{{#each collection}}
<div class="well">
<ul>
        <li>{{body}}</li>
        <li>{{author}}</li>
        <li>{{title}}</li>
        <li>{{formatDate date "MMMM Do YYYY, h:mm:ss a"}}</li>
        <li>{{tags}}</li>
        <ul>
        {{#each comments}}
        	<li>{{body}}</li>
        	<li>{{email}}</li>
        	<li>{{author}}</li>
        {{/each}}
        </ul>
</ul>
</div>
{{/each}}