<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Add post</a>
<br/><br/>
{{#each collection}}
<div class="hero-unit">
	<h2>{{title}}</h2>
	<p>{{author}} - {{formatDate date "MMMM Do YYYY, h:mm:ss a"}}</p>
	{{body}}
	<br/><br/>
	{{#each tags}}
		<span class="label label-info">{{this}}</span>
	{{/each}}
	<br/><br/>
	{{#if comments}}
		<h4>Comments</h4>
	{{/if}}
	{{#each comments}}
		<div class="well">
			<p>{{author}} - {{email}}</p>	
			{{body}}
		</div>
	{{/each}}
</div>
{{/each}}

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">×</button>
		<h3 id="myModalLabel">Add post</h3>
	</div>
	<div class="modal-body">
		<form>
			<fieldset>
				<label>Title</label>
				<input type="text" placeholder="Type post title..." id="title" />
				<label>Text</label>
				<textarea rows="5" class="field span5" id="body"></textarea>
				<br />
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="newpost" data-dismiss="modal" aria-hidden="true">Save changes</button>
	</div>
</div>