{{#each collection}}
<div class="well">
<ul>
        <li>{{body}}</li>
        <li>{{author}}</li>
        <li>{{title}}</li>
        <li>{{date}}</li>
        <li>{{tags}}</li>
        <ul>
        {{#each comments}}
        	<li>{{body}}</li>
        	<li>{{email}}</li>
        	<li>{{author}}</li>
        {{/each}}
        </ul>
</ul>
<button class="btn btn-success" type="button">Post</button>
</div>
{{/each}}